@model LogoModel
@using Nop.Web.Models.Common;


    <a href="index.html" class="standard-logo" data-dark-logo="@Model.LogoPath"><img class="divcenter" src="@Model.LogoPath" alt="iGudang Logo"></a>
    <a href="index.html" class="retina-logo" data-dark-logo="@Model.LogoPath"><img class="divcenter" src="@Model.LogoPath" alt="iGudang Logo"></a>



