@model ShoppingCartModel.GiftCardBoxModel
@using Nop.Web.Models.ShoppingCart;
@if (Model.Display)
{
    <div class="coupon-box" style="margin-top:10px">
        <br/>
        <br />
        <div class="col-md-8 col-xs-7 nopadding">
            <input name="giftcardcouponcode" id="giftcardcouponcode" type="text"  class="sm-form-control" placeholder="Enter Gift Card.." />


        </div>
        <div class="col-md-4 col-xs-5">
            <input type="submit" name="applydiscountcouponcode" id="applydiscountcouponcode"
                   value="@T("ShoppingCart.GiftCardCouponCode.Button")" class="button button-3d button-black nomargin" />


           


        </div>


        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="@(Model.IsApplied ? "message-success" : "message-failure")">
                @Model.Message
            </div>
        }
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#giftcardcouponcode').keydown(function (event) {
                if (event.keyCode == 13) {
                    $('#applygiftcardcouponcode').click();
                    return false;
                }
            });
        });
    </script>
}