@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}

<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap nopadding">
        <div class="modal-on-load" data-target="#myModal1"></div>
        <!-- Modal -->
        <div class="modal1 mfp-hide subscribe-widget" id="myModal1">
            <div class="block dark divcenter pop-up">
                <div >
                    <script type="text/javascript" src="https://app.getresponse.com/view_webform_v2.js?u=hXtm5&webforms_id=By2f9"></script>
                  
                </div>
                <div class="center nomargin hidden-xs pop-close">
                    <a href="#" class="button" onClick="$.magnificPopup.close();return false;">Close</a>
                </div>
            </div>

        </div>
        <!-- 1 : #section-about -->
        <section id="section-about" class="page-section section center nobottommargin dark notopmargin" style="background: url('/Content/landing/images/bout.jpg') no-repeat center center; background-size: cover">
            <div class="container clearfix">
                <div class="row">
                    <div class="col-md-6 col-md-offset-5">
                        <div class="heading-block nobottomborder">
                            <h3>Executive Summary</h3>
                        </div>
                        <div class="divcenter center row">
                            <div class="col-md-12">
                                <p class="tleft">Due to emerging Malaysia economy towards digital era, local merchants are starting to feel the heat when more sales are being conducted online. Since our consumer behavior has been tremendously diverted into digital spending culture, such factors impacted vastly on local merchants in maximizing their commercial rate, including their warehouse stocks. Most merchants are now finding it hard to commercialize their balance goods to welcome new production and improve their revenue stream. This is were iGudang comes in!</p>
                                <p class="tleft">
                                    We are connecting the dots between merchants and their beloved consumers in a hassle free online platform. We are revolutionizing the warehouse sales experience into digital marketplace to provide convenience for shoppers to enjoy good quality items with good deals, and help merchants to commercialize their balance inventories.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- .section end -->
        <!-- 5 : #section-contact -->
        <section id="section-contact" class="page-section section dark nomargin" style="background: url('/Content/landing/images/demos/cafe/images/sections/7.jpg') no-repeat center center #ffc10e; background-size: cover;">
            <div class="container clearfix">
                <div class="col-md-6 col-md-offset-3">
                    <div class="heading-block nobottomborder mb-2">
                        <span class="before-heading font-blue">Connect with Us</span>
                        <h3>Get In Touch</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="contact-widget">
                                <div class="contact-form-result"></div>
                                <form class="nobottommargin row" id="template-contactform" name="template-contactform" action="" method="post">
                                    <div class="form-process"></div>
                                    <div class="col-md-12 mb-1">
                                        <input type="text" id="txtFullName" name="template-contactform-name" value="" class="sm-form-control required" placeholder="Full Name*" />
                                    </div>
                                    <div class="col-md-12 mb-1">
                                        <input type="email" id="txtEmail3" name="template-contactform-email" value="" class="required email sm-form-control" placeholder="Email Address*" />
                                    </div>
                                    <div class="col-md-6 mb-1">
                                        <input type="number" id="txtOrderNum" name="template-contactform-order-number" value="" class="required number sm-form-control" placeholder="Order Number*" />
                                    </div>

                                    <div class="col-md-6 mb-1">
                                        <select id="ddlTypeOfEnquiry" name="template-contactform-service" class="sm-form-control igudang-dropdown">
                                            <option value="">-- Type of Enquiry --</option>
                                            <option value="Our Services">Our services</option>
                                            <option value="Our Merchants">Our Merchants</option>
                                        </select>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="required sm-form-control" id="txtMessage" name="template-contactform-message" rows="6" cols="30" placeholder="Message*"></textarea>
                                    </div>
                                    <div class="col-md-12 hidden">
                                        <input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
                                    </div>
                                    <div class="col-md-12">
                                        <button class="button  button-rounded button-black fright" type="button" id="btnSubmit3" name="template-contactform-submit" value="submit">Send Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!-- .section end -->
    </div>
</section><!-- #content end -->






